<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Claim Submission</title>
  </head>
  <body>
    <div>Hi,</div>
    <br />

    <div>
      Please find the attachment claims for {{category}} {{claimNameSection}}
      ({{period}})
    </div>
    <div>
      The total claim amount is
      <span style="font-weight: 700">{{totalAmount}}</span>.
    </div>
    <br />
    <br />
    {{attachmentsContent}}

    <div>Regards,</div>
    <div>{{employeeName}}</div>
  </body>
</html>
